/* You can add global styles to this file, and also import other style files */
.m-r-10 {
  margin-right : 10px;
}
.m-t-10 {
  margin-top : 10px;
}
.m-b-20 {
  margin-bottom : 20px;
}
.d-inline-block {
  display : inline-block;
}
.text-tiny {
  text-transform: lowercase;
  font-size: 0.85rem;
}
.opacity-50 {
  opacity: 0.5;
}
